[Desktop Entry]
Categories=Utility;
Comment[en_SG]=Open source time-tracking application with a focus on extensibility and privacy.
Comment=Open source time-tracking application with a focus on extensibility and privacy.
Exec=~/.nix-profile/bin/aw-qt
GenericName[en_SG]=Time-tracking application
GenericName=Time-tracking application
Hidden=false
Icon=activitywatch
MimeType=
Name[en_SG]=ActivityWatch
Name=ActivityWatch
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-GNOME-Autostart-enabled=true
X-KDE-SubstituteUID=false
X-KDE-Username=
