[Desktop Action new-private-window]
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=wavebox io.wavebox.Wavebox --incognito
Name=New Incognito Window

[Desktop Action new-window]
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=wavebox io.wavebox.Wavebox
Name=New Window

[Desktop Entry]
Actions=new-window;new-private-window;
Categories=Network;WebBrowser;
Comment=The next generation of web-desktop communication
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=wavebox --file-forwarding io.wavebox.Wavebox @@u %U @@
GenericName=Web Browser
Icon=io.wavebox.Wavebox
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/ftp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/mailto;
Name=Wavebox
StartupNotify=true
Terminal=false
Type=Application
Version=1.0
X-Flatpak=io.wavebox.Wavebox
X-Flatpak-RenamedFrom=wavebox.desktop;
X-Flatpak-Tags=proprietary;
